<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      You are amazing!  
    </h2>
    <p>Thank you for donating your followers</p>
    <div id="twitter">
     <h2>We'll let you know when we hit our funding goal!</h2>
     </div>
  </div>
</div>

<%= render 'preorder/share/twitter_js' %>
<%= render 'preorder/share/facebook_js' %>
