<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Donate your Followers    
    </h2>
    <p>Thank you for following our account!</p>
    <div id="twitter">
     <h2>Help Out Even More</h2>
        <p>Allow us to send 1 tweet from your account encouraging your followers to contribute. We'll use this if we're close to our funding goal and time is running out or when we meet our goal to thank you!</p>
        <a href="/users/followers" class="blue_button reserve">Donate Your Followers</a>

     </div>
  </div>
</div>

<%= render 'preorder/share/twitter_js' %>
<%= render 'preorder/share/facebook_js' %>
