<div class="big_wrapper">
  <div class="wrapper">
    <div class="point_copy">
      <h3>
        What is We Lobby?
      </h3>
      <p>
        We Lobby helps make sure your voice is heard in Congress. We take the idea of crowdfunding and apply it to politics. Since Congress only seems interested in raising money and the opinions of  high powered lobbyists, we're using those exact ideas to make sure that everyone else is heard. It was put together by <a href="http://kinnaird.us">Peter Kinnaird</a> in a weekend. Email him with questions! peter@kinnaird.us
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        WeLobby works just like other crowdfunding sites. The only difference is that instead of funding a new product or an art project, you're paying for an expert to represent you in Washington on issues that you care about.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Who are these lobbyists? Are they legit?
      </h3>
      <p>
        I'm currently in talks with the <a href="https://www.cdt.org/">Center for Democracy and Technology</a> and <a href="http://publicknowledge.org/">Public Knowledge</a>. If neither of them (or an equally reputable firm) is on board, proceeds will go to the <a href="https://www.eff.org/">Electronic Frontier Foundation</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        How do I know the lobbyist is actually going to do something useful?
      </h3>
      <p>
        We've got measurable goals and deliverables, just like you'd expect with any other contract. We'll demand detailed statements about what we're paying for and share those with everyone who's chipped in. If we raise enough to pay for a meeting with a Congressperson or a Staffer we're going to ask our lobbyist to bring in an iPad running a Google Hangout that all of our backers will be invited to join so you can be a part of the meeting too.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="five">
    <div class="point_copy">
      <h3>
        This is horrifying! Congress is supposed to listen to me already because I'm a voter!
      </h3>
      <p>
        I'm with you on this one. The trouble is that we all know it's just a charade. Well funded lobbyists and wealthy campaign donors get too much attention in Washington and drown out your voice.  WeLobby is turning this on its head by giving everyday people like you access to high powered lobbyists who know how to speak inside the beltway language.
      <p>
    </div>
  </div>
</div>


<div class="big_wrapper">
  <div class="wrapper" id="six">
    <div class="point_copy right">
      <h3>
        Is this really going to make a difference and get Congress to stop NSA spying?
      </h3>
      <p>
        It really depends on how much we raise and how many supporters we can rally. There's a few different things Congress needs to actually change policy. They need a bill drafted (we'll hire a law firm to write one if we raise enough), they need lots of popular support (the more backers we have, the better our case will be), and they need all of that delivered in the language they already know (which is why we're going to be using some of the best lobbyists on K street).
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="seven">
    <div class="point_copy">
      <h3>
        Let's get started
      </h3>
      <p>
        Chip in a few dollars to help hire a lobbyist.  The more we raise, the more meetings, strategy work, and influence we can buy.
      <p>
    </div>
  </div>
</div>