<div class="sidebar">

  <h5>Why are all the backer levels the same? </h5>
  <p>
    I wasn't feeling very creative when it came time to name them. So everyone's a privateer and everyone's equal. The point of this effort is to start levelling the playing field. Chip in even $1 or $10 and you'll be treated equally in the effort.
  </p>


</div>