<div class="footer">
  <div class="wrapper clearfix">
    <%= render 'preorder/copyright' %>
  </div>
<iframe src="http://lendyour.net/embeds/lendbutton?domain=test&campaign_id=1&account_id=1&slug=slug.test"></iframe>
</div>
<%= render 'preorder/google_analytics' %>
